/* lightregular */
@font-face {
  font-family: 'Zilla Slab';
  src: url('zillaslab-light-webfont.woff2') format('woff2'),
    url('zillaslab-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

/* lightitalic */
@font-face {
  font-family: 'Zilla Slab';
  src: url('zillaslab-lightitalic-webfont.woff2') format('woff2'),
    url('zillaslab-lightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

/* regular */
@font-face {
  font-family: 'Zilla Slab';
  src: url('zillaslab-regular-webfont.woff2') format('woff2'),
    url('zillaslab-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* italic */
@font-face {
  font-family: 'Zilla Slab';
  src: url('zillaslab-italic-webfont.woff2') format('woff2'),
    url('zillaslab-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

/* medium */
@font-face {
  font-family: 'Zilla Slab';
  src: url('zillaslab-medium-webfont.woff2') format('woff2'),
    url('zillaslab-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

/* mediumitalic */
@font-face {
  font-family: 'Zilla Slab';
  src: url('zillaslab-mediumitalic-webfont.woff2') format('woff2'),
    url('zillaslab-mediumitalic-webfont.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

/* semibold */
@font-face {
  font-family: 'Zilla Slab';
  src: url('zillaslab-semibold-webfont.woff2') format('woff2'),
    url('zillaslab-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

/* semibolditalic */
@font-face {
  font-family: 'Zilla Slab';
  src: url('zillaslab-semibolditalic-webfont.woff2') format('woff2'),
    url('zillaslab-semibolditalic-webfont.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

/* bold */
@font-face {
  font-family: 'Zilla Slab';
  src: url('zillaslab-bold-webfont.woff2') format('woff2'),
    url('zillaslab-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* bolditalic */
@font-face {
  font-family: 'Zilla Slab';
  src: url('zillaslab-bolditalic-webfont.woff2') format('woff2'),
    url('zillaslab-bolditalic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
