### Sample .env file

## Backend is hosted at https://bellbooks-backend.ue.r.appspot.com
VITE_BASE_PBC_URI = http://localhost:8080

## Strategy for handling errors in lower-level systems. 
##    Valid values are "SILENT", "LOG", "THROW"
VITE_ERROR_STRATEGY = SILENT

## Feature Flags for enabling & disabling features
VITE_FEATURE_SEARCH_SHIPMENTS_BY_DATE = false
VITE_FEATURE_SEARCH_SHIPMENTS_BY_CONTENT = false
VITE_FEATURE_DISPLAY_DAILY_SHIPMENTS = false
VITE_FEATURE_ADD_SPECIAL_REQUESTS = false
