@font-face {
	font-family: roboto;
	src: url('./fonts/roboto/Roboto-Regular.ttf') format('truetype');
	font-style: normal;
}

@font-face {
	font-family: roboto;
	src: url('./fonts/roboto/Roboto-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: gentium;
	src: url('./fonts/gentium/GentiumBasic-Regular.ttf') format('truetype');
	font-style: normal;
}

@font-face {
	font-family: gentium;
	src: url('./fonts/gentium/GentiumBasic-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: gentium;
	src: url('./fonts/gentium/GentiumBasic-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: gentium;
	src: url('./fonts/gentium/GentiumBasic-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@media not print {
	* {
		font-family: roboto;
	}

	body {
		margin: 0px !important;
		background-color: #e8e7e2;
	}

	table {
		border-collapse: collapse;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		width: auto;
	}

	.svelte-page {
		display: flex;

		padding: 1rem;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;

		max-width: 100vw;
		word-wrap: break-word;
		min-height: calc(100vh - 7rem);
	}

	ul {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	table,
	th,
	td {
		border: 1px solid black;
	}

	tr {
		background-color: #f0f0f0;
	}
	tr:nth-child(2n) {
		background-color: gainsboro;
	}
	th {
		background-color: #c1e3de;
		height: 30px;
	}

	button {
		display: inline-block;
		margin: 20px 10px 0px;
		padding: 11px 23px;

		background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
		border: 1px solid #566963;
		border-radius: 5px;
		box-shadow: inset 0px 1px 3px 0px #91b8b3;

		font-family: roboto;
		color: #ffffff;
		font-size: 15px;
		text-decoration: none;
		text-shadow: 0px -1px 0px #2b665e;

		transition-duration: 0.3s;
		cursor: pointer;
	}

	button:disabled {
		background: #838383;
		border: #444 solid 1px;
		text-shadow: 0px -1px 0px #444;
		box-shadow: inset 0px 1px 3px 0px #ccc;
		cursor: not-allowed;
	}

	.button-danger {
		background: lightcoral;
		border: rgb(171, 68, 68) solid 1px;
		text-shadow: 0px -1px 0px rgb(171, 68, 68);
		box-shadow: inset 0px 1px 3px 0px rgb(244, 186, 186);
	}

	.button-success {
		background: darkseagreen;
		border: rgb(61, 130, 61) solid 1px;
		text-shadow: 0px -1px 0px rgb(61, 130, 61);
		box-shadow: inset 0px 1px 3px 0px rgb(207, 233, 207);
	}
}

h2 {
	font-weight: 600;
	font-size: 1.25rem;
	color: darkslategray;
	text-align: center;
}

form {
	display: flex;
	flex-flow: column nowrap;
	justify-content: stretch;
	align-items: stretch;

	max-width: 600px;
	margin-block-end: 2rem;
}

label {
	width: 100%;
	margin-bottom: 1.5em;
	text-align: left;
	font-weight: 700;
}

input[type='text'],
input[type='date'] {
	background: red;
	padding: 0.5em;
	width: 95%;
	max-width: auto;
	font-size: 1rem;
	background: none;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
}

select {
	background: none;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;

	font-size: 1rem;
	padding: 0.5rem;
	margin-bottom: 1rem;

	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;

	width: 100%;
}

input[disabled] {
	cursor: not-allowed;
}

.icon {
	max-height: 1.5rem;

	opacity: 0.5;
	transition-duration: 0.3s;
	cursor: pointer;

	&:hover {
		opacity: 0.9;
	}
}

.link {
	color: blue;
	font-size: 1rem;
	position: relative;
	cursor: pointer;
}

.link::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: -2px;
	left: 0px;
	right: 0px;
	background-color: blue;

	transition: transform 250ms ease-in-out;
	transform: scale(0);
	transform-origin: right;
}

.link:hover::before,
.link:focus-visible::before {
	transform: scale(1);
	transform-origin: left;
}

@media print {
	.page-break {
		page-break-after: always;
	}

	#nav-primary,
	#nav-spacer {
		display: none;
	}
}
