@import url('./fonts.scss');

@media not print {
	* {
		font-family: roboto;
	}

	body {
		margin: 0px !important;
		background-color: #e8e7e2;
	}
}

@media print {
	#nav-primary,
	#nav-spacer {
		display: none;
	}

	.page-break {
		page-break-after: always;
	}
}

h2 {
	font-weight: 600;
	font-size: 1.25rem;
	color: darkslategray;
	text-align: center;
}

ul {
	margin-top: 5px;
	margin-bottom: 5px;
}

table {
	border-collapse: collapse;
	margin-inline: auto;
	margin-top: 20px;
	width: auto;
}
table,
th,
td {
	border: 1px solid black;
}
tr {
	background-color: #f0f0f0;
}
tr:nth-child(2n) {
	background-color: gainsboro;
}
th {
	background-color: #c1e3de;
	height: 30px;
}

.hidden {
	display: none !important;
}

.outline {
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	padding: 0.25rem;
}

.page {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	padding: 1rem;

	max-width: 100vw;
	min-height: calc(100vh - 7rem);
	word-wrap: break-word;
}

.icon {
	max-height: 1.5rem;

	opacity: 0.5;
	transition-duration: 0.3s;
	cursor: pointer;

	&:hover {
		opacity: 0.9;
	}
}

.inner-window {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	gap: 1rem;
	padding: 1rem;

	max-height: 10rem;
	overflow-y: scroll;

	border: 1px dashed rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	margin-bottom: 1rem;
}

.font-normal {
	font-weight: normal;
	text-decoration: none;
}

.link {
	color: blue;
	font-size: 1rem;
	position: relative;
	cursor: pointer;
}

.link::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: -2px;
	left: 0px;
	right: 0px;
	background-color: blue;

	transition: transform 250ms ease-in-out;
	transform: scale(0);
	transform-origin: right;
}

.link:hover::before,
.link:focus-visible::before {
	transform: scale(1);
	transform-origin: left;
}

.light-text {
	font-weight: normal;
	opacity: 0.6;
}
